@model IEnumerable<CoffeeANDTea.Data.DrinkCategory>

@{
    ViewData["Title"] = "Index";
}
<style>
    .buttons a{
        background-color: #34ab2e;
        border-color: #34ab2e;
    }
    .buttons a:hover{
            background-color: #2f912a;
            border-color: #2f912a;
        }
        
</style>
<h1>Категории напитки</h1>

<p>
    <a class="btn btn-primary buttons" asp-action="Create">Добави нова категория</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Дата на добавяне
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                <div class="buttons">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a style="background-color:#b02a37; border-color: #b02a37;" class="btn btn-danger delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
