@model IEnumerable<CoffeeANDTea.Data.Order>

@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<p>
    <a asp-action="Create">Добави нова напитка</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Клиент
               @*  @Html.DisplayNameFor(model => model.Clients) *@
            </th>
            <th>
                Напитка/и
               @*  @Html.DisplayNameFor(model => model.Drinks) *@
            </th>
            <th>
                Количество
               @*  @Html.DisplayNameFor(model => model.Quantity) *@
            </th>
            <th>
                Дата на направената поръчка
                @* @Html.DisplayNameFor(model => model.DateUpdate) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clients.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drinks.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
