@model CoffeeANDTea.Data.Drink

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Drink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkCategories.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coffein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coffein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class = "col-sm-2">
            KARTINKA
            @* @Html.DisplayNameFor(model => model.Image) *@
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Image)" width="200" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
