@model IEnumerable<CoffeeANDTea.Data.Drink>

@{
    ViewData["Title"] = "Index";
}

<center><h1>Напитки</h1></center>
@if (User.IsInRole("Admin"))
{
    <center><a class="btn btn-primary" asp-action="Create">Създаване на нова напитка</a></center>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Име
               @*  @Html.DisplayNameFor(model => model.Name) *@
            </th>
            <th>
                Категория
                @* @Html.DisplayNameFor(model => model.DrinkCategories) *@
            </th>
            <th>
                Кофеин
               @*  @Html.DisplayNameFor(model => model.Coffein) *@
            </th>
            <th>
                Био
               @*  @Html.DisplayNameFor(model => model.Bio) *@
            </th>
            <th>
                Изображение
                @* @Html.DisplayNameFor(model => model.Image) *@
            </th>
            <th>
                Описание
               @*  @Html.DisplayNameFor(model => model.Description) *@
            </th>
            <th>
                Цена
               @*  @Html.DisplayNameFor(model => model.Price) *@
            </th>
            <th>
                Дата
                @* @Html.DisplayNameFor(model => model.DateUpdate) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkCategories.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coffein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" width="80"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                    @if (!User.IsInRole("Admin"))
                    {
                        <form method="post" asp-controller="Orders" asp-action="CreateWithDrinkId" asp-route-drinkId="@item.Id">
                            <input name="countP" id="ccount" type="number" width="3" value="1" style="color:red; font:bold" /> Броя
                            <input type="submit" value="Поръчай" />
                        </form>
                    }
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
                
        </tr>
      
           
}
    </tbody>
</table>
