@model IEnumerable<CoffeeANDTea.Data.Drink>

@{
    ViewData["Title"] = "Index";
}
<style>
    .drink-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        flex-wrap: wrap;
    }

    .drink {
        width: 25.1%;
        display: flex;
        flex-direction: column;
        border: 2.5px solid #878747;
        margin-bottom: 50px;
        border-radius: 10px;
        overflow: hidden;
    }

        .drink img {
            max-width: 317.4px;
            height: 200px;
            object-fit: cover;
        }

    .drink-title {
        text-align: center;
        font-size: 20px;
        border-bottom: 2.5px solid #878747;
        background-color: #B2B263;
        color: beige;
    }

    .drink-description {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .drink-description dt, .drink-description dd {
            width: 50%;
        }

    .drink-price {
        font-size: 25px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .order-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
        #ccount

    {
        width: 50%;
    }

    #order {
        width: 48%;
    }

    #createdrink a {
        background-color: #B2B263;
        border-color: #B2B263;
    }

        #createdrink a:hover {
            background-color: #878747;
            border-color: #878747;
        }

    .buttons a {
        background-color: #34ab2e;
        border-color: #34ab2e;
    }

        .buttons a:hover {
            background-color: #2f912a;
            border-color: #2f912a;
        }
</style>
<center><h1>Напитки</h1></center>
@if (User.IsInRole("Admin"))
{
    <div id="createdrink">
        <center><a class="btn btn-primary" asp-action="Create">Създаване на нова напитка</a></center>
    </div>
}

<div class="drink-cards">
    @foreach (var item in Model)
    {
        <div class="drink">
            <span class="drink-title">@Html.DisplayFor(model => item.Name)</span>
            <img src="@Html.DisplayFor(model => item.Image)" />
            <div class="drink-description">
                <dt class="col-sm-2">
                    Категория
                    @* @Html.DisplayNameFor(model => model.DrinkCategories) *@
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.DrinkCategories.Name)
                </dd>
                <dt class="col-sm-2">
                    Кофеин
                    @*    @Html.DisplayNameFor(model => model.Coffein) *@
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.Coffein) %
                </dd>
                <dt class="col-sm-2">
                    Био
                    @*  @Html.DisplayNameFor(model => model.Bio) *@
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.Bio)
                </dd>


            </div>
            <div class="drink-price">
                <div><span>@Html.DisplayFor(model => item.Price) лв.</span></div>
            </div>



            <div class="order-button">
                <form method="post" asp-controller="Orders" asp-action="CreateWithDrinkId" asp-route-drinkId="@item.Id">
                    <input name="countP" id="ccount" type="number" width="3" value="1" />
                    <input id="order" type="submit" value="Поръчай" />
                </form>

            </div>
            @if (User.IsInRole("Admin"))
            {
                <a class="buttons btn btn-primary " asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <br />
                <a class="buttons btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <br />
                <a style="background-color:#b02a37; border-color: #b02a37;" class="btn btn-danger delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            }
        </div>
    }
</div>
@*  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@ 